.menu{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_container {
    width: 100%;
    margin: 0 auto;
}

.logo_container {
    display: inline-block;
}

.menu_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    width: 56%;
    padding-left: 22%;
    padding-right: 22%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 30px;
}

.logo{
    width: 40px;
    height: 40px;
}

.left{
    display: inline-block;
    width: 49%;
}

.right {
    display: inline-block;
    width: 49%;
}

.left_page {
    display: block;
    margin-top: 15px;
    width: 50%;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: lightgray;
    opacity: 50%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
}

.rightimage {
    width: 120%;
}

.applestore_image{
    width: 30%;
    margin-top: 10px;
}

.menuItem {
    text-decoration: none;
    color: inherit;
    margin-right: 20px;
}

.menuItem:hover {
    border-bottom: solid 4px;
    opacity: 50%;
}

.left_page_checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.myanmar {
    border-radius: 50px;
    color: #fff;
}

.background_style {
    background-color: #fff;
}

.sub_image_div_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.sub_image_div {
    width: 250px;
    margin-left: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 3px gray;
}

.sub_image {
    width: 97%;
}


/*Exercise*/
.display_none {
    display: none;
}

.Mobile_menu_container {
    width: 50px;
    height: 50px;
    display: none;
}

.moblie_menu_photo {
    width: 100%;
}

.moblie_menu_photo:hover {
    opacity: 50%;
}

@media (max-width: 973px) {
    .menu_container {
        display: none;
    }

    .Mobile_menu_container{
        display:block;
    }
}

@media (max-width: 970px){
    .container {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .left h1{
        text-align: center;
    }

    .menuparagraph_letter-1 {
        text-align: center;
    }

    .right {
        width: 100%;
    }

    .left_page {
        width: 100%;
    }

    .myanmar {
        margin-top: 10px;
        margin-left: 40%;
    }

    .left_page_checkbox {
        text-align: center;
        margin-left: 30%;
        font-size: 20px;
    }

    .applestore_image {
        width: 80%;
        margin:0 auto
    }

    .footer {
        font-size: 20px;
    }

    .background_style {
        font-size: 20px;
    }
}

/*Over Flow: hidden/scroll;
/*